* {
  margin: 0;
}

html, body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #D1E2E5;
  height: 100%;
  background-color: #255E69;
}

#header {
  color: white;
}

#details {
  margin-top:30px;
  font-size: 110%;
  line-height: 150%;
}

#accuracy {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 150%;
}

#checkme {
  font-size: 110%;
}

#inputText {
  color: black;
}

#poland {
  margin-top: -3px;
  height: 15px;
  width: 30px;
}

.container {
  padding-top: 50px;
  padding-bottom: 20px;

  min-height: 100%;
  margin-bottom: -142px;
}

#resetBtn {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right:10px;
}

#checkBtn {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mood-wrapper {
    margin-top: 5em;
    height: 90px;
    padding-left: 20px;
    padding-top: 10px;
}

.mood {
  padding-top: 25px;
  margin-right:50px;
  font-weight: bold;
}

.container:after {
  content: "";
  display: block;
}

.footer, .container:after {
  height: 142px;
}

.footer {
  padding: 20px 0;
  color: #999;
  text-align: center;
  background-color: #0F454F;
  border-top: 1px solid #e5e5e5;
}
